* {
  --theme-color-background-default: #ffffff;
  --theme-color-background-highlight: #f5f5f5;
  --theme-color-background-text: rgb(0, 0, 0, 0.3);

  --theme-color-text-default: #333;
  --theme-color-text-highlight: #999;
  --theme-color-text-active: #222;

  --theme-color-accent-default: #0095ee;
  --theme-color-accent-highlight: #63c5ff;
  --theme-color-accent-active: #0073cc;

  --theme-color-attention-default: #ff333f;
  --theme-color-attention-highlight: #ff6574;
  --theme-color-attention-active: #e32b36;

  --theme-color-success-default: #0aa466;
  --theme-color-success-highlight: #0fbf67;
  --theme-color-success-active: #078962;

  --theme-color-focus-ring: #89bffd66;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Verdana, sans-serif;
}


body {
  color: var(--theme-color-text-default);
  background-color: var(--theme-color-background-default);
  padding: 1vh 0;
}

.App {
  text-align: center;
}

.Title {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 3vmin);
  letter-spacing: 0.1rem;
  color: var(--theme-color-attention-default);
  padding: 1vh 5vw;
}

.Listing {
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  padding: 1vh 5vw;
}

.Listing form div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  flex-wrap: wrap;
}

input, input:focus, button {
  -webkit-appearance: none;
  appearance: none;
  border-style: none;
  outline-style: none;
}

input[type=text] {
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  border: 0.2vw solid var(--theme-color-text-default);
}

input[type=text]:hover {
  border: 0.2vw solid var(--theme-color-focus-ring);
}

input[type=file] {
  cursor: pointer;
  padding: 0.5vw;
  font-weight: bold;
  color: var(--theme-color-text-default);
  border: 0.2vw solid var(--theme-color-text-default);
  border-radius: 0.5vw;
}

input[type=file]:hover {
  color: var(--theme-color-text-highlight);
  border: 0.2vw solid var(--theme-color-focus-ring);
}

button {
  min-width: max-content;
  cursor: pointer;
  background-color: var(--theme-color-accent-default);
  color: var(--theme-color-background-default);
  font-weight: bold;
  padding: 1vw 2vw;
  border-radius: 1vw;
}

button:hover {
  background-color: var(--theme-color-accent-highlight);
}

button:active {
  background-color: var(--theme-color-accent-active);
}

.ItemListGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2vw;

  padding: 1vh 5vw;
}

.ItemList {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  align-items: center;
  justify-content: left;
  font-size: calc(7px + 1vmin);
  color: var(--theme-color-text-default);
  background-color: var(--theme-color-background-highlight);
  padding: 2vw;
  border-radius: 1vw;
}

.ItemList:hover {
  outline: 0.5vw solid var(--theme-color-focus-ring);
}

.ItemList img {
  max-width: 100%;
  max-height: 15vh;
}

.ItemList .ItemDescriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ItemCategory {
  color: var(--theme-color-background-default);
  background-color: var(--theme-color-background-text);
}

.App-link {
  color: var(--theme-color-accent-default);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
